mat-sidenav-container {
  height: 100vh;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-text {
  padding-left: 10px;
  text-decoration: none;
  color: #ffffff;
}

.selected {
  background-color: #eee;
}

mat-list-item, img, button, a {
  outline: none;
}

.fill-remaining-space {
  flex: 1 1 auto;
}